/* GLOBAL */


body {
margin:0;
font-family:"Segoe UI",sans-serif;
background:#f3f4f6;
}

/* LAYOUT */

.layout{
display:flex;
height:100vh;
}

/* SIDEBAR */

.sidebar{
width:220px;
background:#1f2937;
color:white;
padding:20px;
display:flex;
flex-direction:column;
gap:15px;
}

.sidebar h2{
margin-bottom:20px;
}

.sidebar a{
color:#d1d5db;
text-decoration:none;
padding:10px;
border-radius:8px;
transition:0.3s;
}

.sidebar a:hover{
background:#374151;
color:white;
}

/* MAIN */

.main{
flex:1;
display:flex;
flex-direction:column;
}

/* TOP BAR */

.topbar{
background:white;
padding:15px 25px;
box-shadow:0 2px 8px rgba(0,0,0,0.05);
}

/* PAGE CENTER */

.page{
flex:1;
display:flex;
justify-content:center;
align-items:center;
}

/* CARD STYLE */

.card{
background:white;
padding:30px;
border-radius:16px;
box-shadow:0 10px 25px rgba(0,0,0,0.08);
width:420px;
}

/* INPUTS */

input{
width:100%;
padding:12px;
border-radius:10px;
border:1px solid #d1d5db;
margin-top:5px;
margin-bottom:15px;
}

/* BUTTON */

button{
width:100%;
padding:12px;
border:none;
background:#1f3a8a;
color:white;
border-radius:10px;
font-weight:bold;
cursor:pointer;
}

button:hover{
background:#1e40af;
}
.card button{
margin-top:10px;
}
/* ===== LOGIN PAGE ===== */

.login-container{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:linear-gradient(135deg,#eef2ff,#f1f5f9);
}

.login-card{
width:380px;
background:white;
padding:35px;
border-radius:16px;
box-shadow:0 15px 40px rgba(0,0,0,0.1);
text-align:center;
}

.login-card h1{
margin-bottom:5px;
color:#1f2937;
}

.login-card .muted{
color:#6b7280;
margin-bottom:20px;
}

.login-card form{
display:flex;
flex-direction:column;
gap:12px;
text-align:left;
}

.login-card input{
padding:12px;
border-radius:10px;
border:1px solid #d1d5db;
font-size:14px;
}

.login-card button{
margin-top:15px;
padding:12px;
border:none;
background:#2563eb;
color:white;
border-radius:10px;
font-weight:bold;
cursor:pointer;
transition:0.3s;
}

.login-card button:hover{
background:#1e40af;
}
