<!DOCTYPE html>
<html>
<head>
<title>MOOC Login</title>

<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

</head>

<body>

<div class="login-container">

<div class="login-card">

<h1>MOOC Platform</h1>
<p class="muted">Login to continue</p>

<form method="POST" action="/login">

<label>Email</label>
<input type="email" name="email" required>

<label>Password</label>
<input type="password" name="password" required>

<button type="submit">Login</button>

</form>

</div>

</div>

</body>
</html>
